// Font Properties
$brand-font: 			'Libre Baskerville', serif;
$base-font-size:   		16px;
$small-font-size:  		$base-font-size * 0.875;
$base-line-height: 		1.5;

// Spacers
$spacing-unit:     		30px;

// Colors
$text-color:       		#111;
$blue:					#294256;
$blue-layout:			#41749E;
$red: 					#7A3028;
$white: 				#FFFFFF;

