.site-footer {
	background-color: rgba(216,216,216,0.2);
	border-bottom: $red 4px solid;
	padding-top: 100px;

	@include tablet {
		padding-top: 10px;
	}
}
.footer_wrapper {
	margin-bottom: 25px !important;
	width: 100%;
}
.list_wrapper {
	margin-bottom: 25px;
}
.list {
	text-align: center;
	margin-top: 40px;
	list-style: none;

	.menu_header {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 25px;
	}

	li {
		font-size: 16px;
		line-height: 32px;

		@include tablet {
			font-size: 20px;
		}

		a span {
			display: block;
			text-align: center;
			font-size: 14px;
			line-height: 15px;
			padding-bottom: 20px;
		}
	}
}

.copyright {
	font-size: 12px;
}
.menu_small_text {
	font-size: 14px !important;
	line-height:0.4!important;
}

#menu-footer {
	list-style: none;
	margin:0;
}

.footer_email {
	@include tablet {
		font-size: 20px;
	}
}