@import "../utilities/variables";
@import "../utilities/mixins";

.main_header {
	border-top: $red 4px solid;
	position: relative;

	.menu_btn {
		color: $red;
		display: block;
		padding: 10px 0;

		@include tablet {
			padding: 10px 0 40px;
		}
		
		.menu_btn_btn {
			font-size: 45px;
		}

		.menu_btn_text {
			display: none;

			@include tablet {
				display: block;
				font-size: 12px;
				margin-top: 5px;
				text-transform: uppercase;	
			}
		}
	}
}


